.dither-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.dither-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
