.dither-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

.dither-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.dither-container--static {
  pointer-events: none;
}

.dither-container--interactive {
  pointer-events: auto;
}
